.landing_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing_page > h1 {
    text-align: center;
}

.website_name {
    background-image: linear-gradient(45deg, purple, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.landing_page button {
    background-image: linear-gradient(45deg, purple, blue);
    color: white;
    padding: 15px;
    border: none;
    border-radius: var(--border-primary);
}

.landing_page button:hover {
    cursor: pointer;
}

.landing_page > a {
    text-decoration: none;
}
