.details_page {
    overflow-x: hidden;
    padding: var(--page_padding);
}

.details_header {
    display: grid;
    grid-template-columns: auto auto;
}

.details_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.details_footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
}

.footer_card {
    width: 200px;
    flex-shrink: 0;
}

.footer_card p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
